
name: CMake

on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}\\build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}\\build
      run: cmake $GITHUB_WORKSPACE -DBUILD_TESTS=ON -DACTIONS_FIX=ON

    - name: Build (Debug)
      working-directory: ${{runner.workspace}}\\build
      shell: bash
      run: cmake --build . --config Debug

    - name: Test (Debug)
      working-directory: ${{runner.workspace}}\\build
      shell: bash
      run: ctest -C Debug

    - name: Build (Release)
      working-directory: ${{runner.workspace}}\\build
      shell: bash
      run: cmake --build . --config Release

    - name: Test (Release)
      working-directory: ${{runner.workspace}}\\build
      shell: bash
      run: ctest -C Release

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DBUILD_TESTS=ON

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build .

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: ctest
