name: Main

on: [push, pull_request]

jobs:
  build-windows:
    name: Windows
    runs-on: windows-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v2

    - name: Create build environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DBUILD_SHARED=ON -DBUILD_TESTS=ON -DACTIONS_FIX=ON

    - name: Build (Debug)
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build . --config Debug

    - name: Test (Debug)
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: ctest -C Debug

    - name: Build (Release)
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build . --config Release

    - name: Test (Release)
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: ctest -C Release
      
    - name: Upload artifacts (Debug)
      uses: actions/upload-artifact@v1.0.0
      with: 
        name: hypertext-windows-debug-${{ github.run_number }}
        path: |
          ${{runner.workspace}}/Include/hypertext.h
          ${{runner.workspace}}/build/Debug
    
    - name: Upload artifacts (Release)
      uses: actions/upload-artifact@v1.0.0
      with: 
        name: hypertext-windows-release-${{ github.run_number }}
        path: |
          ${{runner.workspace}}/Include/hypertext.h
          ${{runner.workspace}}/build/Release

  build-linux:
    name: Ubuntu
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v2

    - name: Create build environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DBUILD_SHARED=ON -DBUILD_TESTS=ON

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build .

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: ctest
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v1.0.0
      with: 
        name: hypertext-ubuntu-${{ github.run_number }}
        path: |
          ${{runner.workspace}}/Include/hypertext.h
          ${{runner.workspace}}/build/libhypertext.so
      
